<h1>Listing cards</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Done</th>
      <th>Title</th>
      <th>Description</th>
      <th>difficulty</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.done %></td>
        <td><%= card.title %></td>
        <td><%= card.description %></td>
        <td><%= card.difficulty %></td>
        <td><%= link_to 'Details', edit_card_path(card) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
