<%= javascript_include_tag "sorttable" %>

<h1>Listing cards</h1>

<div class="row">
  <div class="col-sm-1">
    <div class="checkbox">
      <label class="control-label">
        <input type="checkbox" class="js-completed">
        Completed
      </label>
    </div>
  </div>
  <div class="col-sm-11">
    <div class="checkbox">
      <label class="control-label">
        <input type="checkbox" class="js-uncompleted" checked>
        Uncompleted
      </label>
    </div>
  </div>
</div>

<table class="table table-striped table-hover sortable">
  <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col style="width: 100px;">
  </colgroup>
  <thead>
    <tr>
      <th class="sorttable_sorted"><span id="sorttable_sortfwdind">&nbsp;▾</span></th>
      <th>Done?</th>
      <th>Title</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td>
          <span class="glyphicon glyphicon-<%= card.done ? "ok" : "remove" %>">
          </span>
        </td>
        <td><%= card.title %></td>
        <td><%= card.description %></td>
        <td><%= card.difficulty %></td>
        <td><%= link_to 'Details', edit_card_path(card) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>

<script language="javascript">
  $().ready(function() {
    $("td span[class*=ok]").closest("tr").hide();
  });

  $(".js-completed").on("change", function(e) {
    $("td span[class*=ok]").closest("tr").toggle(e.target.checked)
  });
  $(".js-uncompleted").on("change", function(e) {
    $("td span[class*=remove]").closest("tr").toggle(e.target.checked)
  });

</script>
