<h1>Listing cards</h1>

<table class="table table-striped table-hover">
  <colgroup>
    <col>
    <col>
    <col>
    <col style="width: 100px;">
  </colgroup>
  <thead>
    <tr>
      <th>Done</th>
      <th>Title</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td>
          <span class="glyphicon glyphicon-<%= card.done ? "ok" : "remove" %>">
          </span>
        </td>
        <td><%= card.title %></td>
        <td><%= card.description %></td>
        <td><%= card.difficulty %></td>
        <td><%= link_to 'Details', edit_card_path(card) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
