<p id="notice"><%= notice %></p>

<p>
  <strong>Done:</strong>
  <%= @card.done %>
</p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @card.difficulty %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @card.comments %>
</p>

<p>
  <strong>Clue1:</strong>
  <%= @card.clue1 %>
</p>

<p>
  <strong>Clue2:</strong>
  <%= @card.clue2 %>
</p>

<p>
  <strong>Clue3:</strong>
  <%= @card.clue3 %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
